.card {
  display: flex;
  flex-direction: column;
  border: 0.125rem solid $silver;
  border-radius: 0.75rem;
  padding: 1rem;
  max-width: 25rem;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 1rem;
    margin-top: 0;
  }

  &__close {
    cursor: pointer;
    width: 1.5rem;
    transform: translate(0, -0.5rem);
    transition: all 250ms ease-out;

    &:hover {
      color: $purple;
    }
  }

  &__google {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    &__btn {
      background-color: transparent;
      border: 2px solid $silver;
      border-radius: 0.5rem;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 500;
      padding: 0.5rem 0;
      width: 90%;
      transition: all 250ms ease-out;

      &:hover {
        border-color: $pastelPurple;
      }
    }

    &__logo {
      margin-right: 0.25rem;
    }
  }

  &__form {
    padding: 1rem;

    &__label {
      font-size: 0.875rem;
      font-weight: 500;
    }

    &__input {
      display: block;
      border: 2px solid $silver;
      border-radius: 0.5rem;
      margin: 1rem 0;
      padding: 0.5rem;
      width: 100%;
      transition: all 250ms ease-out;

      &:focus {
        border-color: $pastelPurple;
        outline: none;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;

    &__terms {
      text-align: center;
      width: 100%;
    }

    &__btn {
      background: linear-gradient(
        to right,
        rgb(255, 195, 113),
        rgb(255, 95, 109)
      );
      border: 0;
      color: $white;
      cursor: pointer;
      border-radius: 0.5rem;
      font-size: 1rem;
      font-weight: 500;
      padding: 0.65rem 0;
      width: 90%;
      transition: all 250ms ease-out;

      &:hover {
        transform: scale(1.1);
      }
    }

    &__link {
      color: $pastelPurple;
      text-decoration: none;
      transition: all 250ms ease-out;

      &:hover {
        border-bottom: 1px solid $purple;
        color: $purple;
      }
    }

    &__log-in {
      text-align: center;
    }
  }

  &--secondary {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: $pastelPurple;
    border-radius: 1rem;
    padding: 1rem;

    &__grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;

      @media (min-width: $media-md) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: $media-lg) {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    &__img {
      &__item {
        border-radius: 1rem;
        object-fit: cover;
        width: 100%;
        margin-bottom: 1rem;
      }
    }

    &__title {
      font-size: 2rem;
      font-weight: 500;
    }

    &__description {
      text-align: justify;
    }

    &__footer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }

  &--tertiary {
    background-color: $white;
    border-radius: 0.5rem;
    padding: 1rem;

    &__grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
      background-color: $silver;
      border-radius: 0.5rem;
      padding: 1rem;

      @media (min-width: $media-md) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: $media-lg) {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    &__header {
      display: flex;
      margin-bottom: 6rem;

      &__week {
        font-size: 1.25rem;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }

      &__league {
        color: $gray;
        font-size: 1.125rem;
      }
    }

    &__logo {
      width: 4rem;
      margin-right: 1rem;
    }

    &__main {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;

      &__label {
        color: $gray;
        margin-bottom: 1rem;
      }

      &__prize {
        font-size: 1.25rem;
        font-weight: 500;
      }

      &__banner {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $ultramarine;
        border-radius: 50%;
        color: $white;
        text-align: center;
        padding: 0.25rem;
      }
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;

      &__label {
        color: $gray;
        margin-bottom: 0.75rem;
      }

      &__number {
        font-weight: 500;
      }
    }
  }
}
