.card-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: $pastelPurple;
  border-radius: 1rem;
  padding: 1rem;

  &__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

    @media (min-width: $media-md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $media-lg) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__img {
    &__item {
      border-radius: 1rem;
      object-fit: cover;
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 500;
  }

  &__description {
    text-align: justify;
  }

  &__footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
