.chat {
  background: linear-gradient(to right, rgb(255, 195, 113), rgb(255, 95, 109));
  border-radius: 1rem;
  border: 3px solid $silver;
  width: $media-sm;

  &__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.25rem;

    &__back {
      color: $white;
      cursor: pointer;
      transition: all 250ms ease;

      &:hover {
        color: $purple;
      }
    }

    &__info {
      display: flex;
      align-items: center;
      color: $white;
      transform: translate3d(-5rem, 0, 0);

      &__pic {
        border-radius: 50%;
        margin-right: 0.5rem;
      }

      &__name {
        font-weight: 500;
      }

      &__seen {
        font-size: 0.75rem;
      }
    }

    &__icons {
      display: flex;
      color: $white;
      cursor: pointer;

      &__item {
        margin-right: 1.25rem;
        transition: all 250ms ease;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          color: $purple;
        }
      }
    }
  }

  &__field {
    background-color: $white;
    height: $media-sm;

    &__message {
      display: flex;
      align-items: center;
      background-color: $purple;
      border-radius: 0.75rem;
      border-top-right-radius: 0;
      color: $white;
      font-family: "Montserrat", sans-serif;
      font-size: 0.875rem;
      margin: 1px;
      padding: 0.75rem;
      max-width: 50%;

      &__wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

      &__delete {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: 0;
        color: $white;
        cursor: pointer;
        transition: all 250ms ease;

        &:hover {
          color: $pastelPurple;
        }
      }
    }
  }

  &__form {
    border-top: 3px solid $silver;
    padding: 0.25rem;
    position: relative;
    width: 100%;

    &__input {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $white;
      border-radius: 2rem;
      border: 0;
      font-family: "Montserrat", sans-serif;
      width: 90%;

      &__text {
        border: 0;
        font-family: "Montserrat", sans-serif;
        height: 1.25rem;
        margin-left: 2.75rem;
        overflow: auto;
        resize: none;
        width: 75%;

        &:focus {
          outline: none;
        }
      }
    }

    &__btn {
      display: flex;
      background-color: $pastelPurple;
      border-radius: 50%;
      border: none;
      color: $white;
      cursor: pointer;
      padding: 0.5rem;
      transform: translate3d(3rem, 0, 0);
      transition: all 250ms ease;

      &:hover {
        background-color: $purple;
      }
    }

    &__icon {
      color: $pastelPurple;
      cursor: pointer;
      position: absolute;
      transition: all 250ms ease;

      &:hover {
        color: $purple;
      }

      &--emoji {
        left: 0.75rem;
        top: 0.75rem;
      }

      &--clip {
        right: 7rem;
        top: 0.75rem;
      }

      &--camera {
        right: 5rem;
        top: 0.75rem;
      }
    }
  }
}
