.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 2rem;

  &--component {
    border-bottom: 2px solid $silver;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }

  &--dark {
    background-color: #121415;
    color: $white;
  }

  &--teorem {
    background-color: #f5f5f5;

    * {
      font-family: "Lato", sans-serif;
    }

    &__img {
      margin: 9.375rem 0 9.5rem;
      width: 100%;

      &--second {
        margin: 5rem 0 8.5rem;
        width: 100%;
      }
    }
  }

  &--genres {
    background-color: #1b2838;
    color: #acb2b8;
    max-height: auto;
    min-height: 100%;
  }

  &--genres-game {
    background-color: #111a2480;
  }

  &--sm {
    max-width: 32rem;
    position: relative;

    &__wrap {
      background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
      );
      padding: 1rem 0;
    }
  }
}
