.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 2rem;

  &--component {
    border-bottom: 2px solid $silver;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }

  &--dark {
    background-color: #121415;
    color: $white;
  }

  &--teorem {
    * {
      font-family: "Lato", sans-serif;
    }
  }

  &__table {
    border: 1px solid $black;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid $black;
      text-align: center;
      padding: 1rem;
    }

    th {
      background-color: $pastelPurple;
      color: $white;
      font-weight: normal;
    }
  }
}
