.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #0000000d;
  cursor: pointer;
  width: 45.5625rem;
  transition: all 250ms ease;

  &:hover {
    border: 1px solid $black;

    .dropdown__question {
      opacity: 1;
    }

    .dropdown__answer {
      opacity: 1;
    }
  }

  &.inactive {
    display: none;
  }

  &__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }

  &__question {
    font-size: 1.5rem;
    line-height: 2.25rem;
    padding: 1.5rem;
    opacity: 0.5;
    transition: all 250ms ease;
  }

  &__arrow {
    padding: 0 2.375rem;
  }

  &__answer {
    font-size: 1rem;
    line-height: 1.75rem;
    padding: 1rem;
    opacity: 0.5;
    transition: all 250ms ease;

    &.inactive {
      display: none;
    }
  }
}
