.footer {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;

  &__wrap {
    border-top: 1px solid rgba(255, 255, 255, 0.0836702);
    width: 100%;
    margin: 5.5rem 0 0;
    padding: 5.5rem 0 0;

    &--secondary {
      margin-bottom: 3.5625rem;
    }
  }

  &__info {
    display: flex;
    justify-content: flex-start;

    &__item {
      font-family: "Montserrat", sans-serif;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.3125rem;
      margin-bottom: 1rem;

      &:first-child {
        opacity: 0.6;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    div:first-child {
      margin-right: 3rem;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    &__item {
      cursor: pointer;
      font-family: "Montserrat", sans-serif;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.3125rem;
      margin-right: 1.5rem;

      &:not(.gray)::after {
        content: "";
        background-color: $white;
        display: block;
        width: 0;
        height: 0.125rem;
        transition: all 250ms ease;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }

      &.gray {
        cursor: default;
        opacity: 0.6;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &__nav {
      display: flex;
    }

    &__badges {
      display: flex;
      align-items: center;

      div {
        cursor: pointer;
        transition: all 250ms ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  &__logo {
    margin-right: 1.5rem;
  }

  &__docs {
    display: flex;

    &__item {
      cursor: pointer;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.3125rem;
      margin-left: 1.5rem;

      &:first-child {
        margin-left: 0;
      }

      &::after {
        content: "";
        background-color: $white;
        display: block;
        width: 0;
        height: 0.125rem;
        transition: all 250ms ease;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }

  &--teorem {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(
      226.69deg,
      rgba(127, 95, 211, 0.9) 4.52%,
      #5c3ee8 94.64%
    );
    margin-top: 10rem;

    &__main {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: $white;
      padding: 5.875rem 15.1875rem 1rem 10.3125rem;

      &__info {
        display: flex;
        justify-content: space-between;

        & > div {
          margin-right: 5.75rem;
        }

        & > div:last-child {
          margin-right: 0;
        }

        img {
          margin-right: 0.5rem;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      &__title {
        font-size: 1.125rem;
        line-height: 1.6875rem;
        width: 27.8125rem;
      }

      &__header {
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.5rem;
        margin-bottom: 0.5rem;
      }

      &__text {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.3125rem;

        &.payment {
          width: 7.9375rem;
          margin-bottom: 1rem;
        }
      }

      &__link {
        cursor: pointer;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.3125rem;
        width: fit-content;

        &::after {
          content: "";
          background-color: $white;
          display: block;
          width: 0;
          height: 0.125rem;
          transition: all 250ms ease;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
      }

      &__copyright {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.3125rem;
        margin-top: 2.9375rem;
      }
    }
  }
}
