.footer {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;

  &__wrap {
    border-top: 1px solid rgba(255, 255, 255, 0.0836702);
    width: 100%;
    margin: 5.5rem 0 0;
    padding: 5.5rem 0 0;

    &--secondary {
      margin-bottom: 3.5625rem;
    }
  }

  &__info {
    display: flex;
    justify-content: flex-start;

    &__item {
      font-family: "Montserrat", sans-serif;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.3125rem;
      margin-bottom: 1rem;

      &:first-child {
        opacity: 0.6;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    div:first-child {
      margin-right: 3rem;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    &__item {
      font-family: "Montserrat", sans-serif;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.3125rem;
      margin-right: 1.5rem;

      &.gray {
        opacity: 0.6;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &__nav {
      display: flex;
    }

    &__badges {
      display: flex;
      align-items: center;
    }
  }

  &__logo {
    margin-right: 1.5rem;
  }

  &__docs {
    display: flex;

    &__item {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.3125rem;
      margin-left: 1.5rem;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
