.mlinar {
  padding: 1rem;

  &__hero-title {
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 5.25rem;
    margin: 0 auto 5.5rem;
    max-width: 70%;

    span {
      font-family: "Montserrat", sans-serif;

      &:nth-child(1) {
        color: #f9b601;
      }

      &:nth-child(2) {
        display: block;
      }
    }
  }
}
