.navigation {
  background-color: $black;
  float: left;
  width: 10rem;
  height: calc(100vh - 6.75rem);

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;

    &__item {
      color: $white;
      font-size: 1.25rem;
      text-decoration: none;

      &::after {
        content: "";
        background-color: $white;
        display: block;
        width: 0;
        height: 0.125rem;
        transition: all 250ms ease;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
}
