.pagination {
  display: flex;

  &__item {
    border: 1px solid $silver;
    color: $black;
    cursor: pointer;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    transition: all 250ms ease-out;

    &:hover {
      background-color: $pastelPurple;
      color: $white;
    }

    &:first-child {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    &:last-child {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      margin-right: 0;
    }
  }
}
