.table {
  border: 1px solid $black;
  border-collapse: collapse;

  &--countries {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
      border: 1px solid $black;
      text-align: center;
      padding: 1rem;
    }

    th {
      background-color: $pastelPurple;
      color: $white;
      font-weight: 500;
      text-transform: uppercase;
    }

    &__flag {
      width: 3rem;
    }

    &__links {
      color: $pastelPurple;
      text-decoration: none;
      transition: all 250ms ease;

      &:hover {
        border-bottom: 1px solid $purple;
        color: $purple;
      }
    }
  }

  th,
  td {
    border: 1px solid $black;
    text-align: center;
    padding: 1rem;
  }

  th {
    background-color: $pastelPurple;
    color: $white;
    font-weight: normal;
  }
}
