.tags {
  display: flex;
  gap: 1rem;

  .tag {
    display: flex;
    gap: 0.75rem;
    border-radius: 1rem;
    cursor: pointer;
    padding: 0.25rem 1rem;

    &--ultra {
      border: 1px solid $ultramarine;
      color: $ultramarine;
      font-weight: 500;

      &:hover {
        background-color: #c9e7f5;
      }
    }

    &--purple {
      border: 1px solid $purple;
      color: $purple;
      font-weight: 500;

      &:hover {
        background-color: #c3b1e1;
      }
    }

    &__item {
      width: 1.25rem;
    }
  }
}
