.toggle {
  background-color: $silver;
  border-radius: 1rem;
  width: 4rem;
  height: 2rem;
  position: relative;
  transition: background-color 250ms ease;

  &.active {
    background-color: $pastelPurple;

    .toggle__thumb {
      left: 2rem;
    }
  }

  &__thumb {
    background-color: $white;
    border: 1px solid $purple;
    border-radius: 50%;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 0;
    transition: left 250ms ease;
  }
}
