//colors
$black: #000;
$lightBlue: #0085ff;
$lightGreen: #90ee90;
$lightRed: #ff6347;
$darkBlue: #12518b;
$darkGreen: #3cb33c;
$darkRed: #c42f15;
$gray: #808080;
$pastelPurple: #c3b1e1;
$purple: #a020f0;
$silver: #c0c0c0;
$ultramarine: #0437f2;
$white: #fff;
$yellow: #ffff00;
$red: #c0392b;
$orange: #e67e22;

//border-radius
$border-rounded: 0.5rem;

//breakpoints
$media-sm: 37.5em; //600px
$media-md: 48em; //768px
$media-lg: 62em; //992px
$media-xl: 75em; //1200px
